body {
    margin: 60px auto;
    width: 70%;
}
title {
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}
nav ul {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    list-style: none;
    text-align: right;
}
footer ul {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    list-style: none;
    text-align: center;
}
nav ul li {
    display: inline;
    margin-right: 20px;
    text-align: right;
}
a {
    color: #000;
    text-decoration: underline;
}
.header__title {
    padding: 0px;
    display: inline;
    margin-left: 20px;
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
p {
    font-size: 1.25em;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4em;
    text-align: center;
}
footer {
    font-family: 'Roboto', sans-serif;
    border-top: 0px;
    font-size: .8em;
    text-align: center;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 300px) {
    .column {
        width: 100%;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
