<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }}</title>
		<!-- ICON -->
		<link rel="icon" href="/images/icon.png">
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<!-- FONTS -->
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="main">
			<div class="header">
				<a href="/" class="logo">Holly Jackson</a>
				<div class="header-right">
					{{ page.menu }}
					<!--<a class="active" href="/">Major Projects</a>
					<a href="/minor-projects">Minor Projects</a>
					<a href="/about">About</a>-->
				</div>
			</div>
			<div class="container">
				{{ content }}
			</div>
			<footer>
				<a href="mailto:hjackson@mit.edu">hjackson@mit.edu</a>
			</footer>
		</div>
	</body>
</html>
