<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="icon" href="/images/icon.png">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
		</head>
		<body>
			<header class="header">
				<a class="header__title" href="/">Holly Jackson</a>
				<nav>
					<ul class="header_list">
						<li><a href="/" class="active">Major Projects</a></li>
						<li><a href="/minor-projects">Minor Projects</a></li>
						<li><a href="/about">About</a></li>
					</ul>
				</nav>
			</header>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<a href="mailto:hjackson@mit.edu">hjackson@mit.edu</a>
			</footer>
		</body>
	</html>
