---
layout: page
---

<!-- Portfolio Gallery Grid -->
<div class="row_grid">
    <div class="column_grid">
        <div class="content">
        <img src="/images/bezier_curve.png" alt="Implicit Curves" class="image" style="width:100%">
        <div class="middle">
            <div class="text">Implicit Curves</div>
        </div>
        </div>
    </div>
    <div class="column_grid">
        <div class="content">
        <img src="/images/las_campanas.jpg" alt="Cosmic Phylogeny" class="image" style="width:100%">
        <div class="middle">
            <div class="text">Cosmic Phylogeny</div>
        </div>
        </div>
    </div>
    <div class="column_grid">
        <div class="content">
        <img src="/images/brienne_letter.JPG" alt="Unlocking History" class="image" style="width:100%">
        <div class="middle">
            <div class="text">Unlocking History</div>
        </div>
        </div>
    </div>
    <div class="column_grid">
        <div class="content">
        <img src="/images/sla_bridge.JPG" alt="Topological Optimization" class="image" style="width:100%">
        <div class="middle">
            <div class="text">Topological Optimization</div>
        </div>
        </div>
    </div>
    <!-- END GRID -->
</div>